<section class="content-header">
  <h1></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-home"></i>
          <h3 class="box-title">{{restaurant?.name}} &amp; Brakery</h3><span class="pull-right"><i
              class="fa fa-star"></i> {{restaurant?.rating}}</span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-sm-3 col-xs-12" *ngIf="restaurant">
            <img class="box-img-detail" [src]="restaurant?.imagePath" />
          </div>
          <dl class="col-sm-9 col-xs-12">
            <dt>Category</dt>
            <dd>{{restaurant?.category}}</dd>
            <dt>About us</dt>
            <dd>{{restaurant?.about}}</dd>
            <dt>Hours of operation</dt>
            <dd>{{restaurant?.hours}}</dd>
          </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer detail-footer">
          <a class="pull-left detail-active" routerLinkActive="detail-active" [routerLink]="['menu']">
            Menu
          </a>
          <!-- don't put /reviews, because if you put / it's represents that'll get the route starting from root and not the relative route -->
          <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['reviews']">
            Avaliações
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-xs-12 -->
  </div>
  <div class="row">
    <!-- this path have the children routes available to indicate the path for each click defined by the routes's children -->
    <router-outlet></router-outlet>
  </div>
</section>
