<section class="content-header">
  <h1>All restaurants
    <a (click)="toggleSearch()" class="search-link pull-right">
      <span *ngIf="inputSearch.value">
        <small>"{{inputSearch.value}}"</small>
      </span>
      <i class="fa fa-search"></i>
    </a>
  </h1>

  <!-- search bar -->
  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" #inputSearch formControlName="searchControl" class="form-control"
            placeholder="Looking for?">
        </div>
      </form>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">
    <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
    </div>
  </div>
</section>